
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        @using(Html.BeginForm("Login", "Home", FormMethod.Post)) {
            @Html.HttpMethodOverride(HttpVerbs.Put)
            @Html.TextBox("username")
            @Html.TextBox("password")
            <input type="submit" name="login" value="Login" />
        }
    </div>
</body>
</html>
